body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	height:100%;
}

#main {
 	position: fixed;
    	width: 100%;
    	height: 100%;
    	left: 0;
    	top: 0;
//	background-color:#86ff6b;
}

#dragDiv {
	position:relative;
	margin-left:42.5%;
	margin-right:42.5%;
	//margin-top:10%;
	margin-top:20%;
	width:220px;
	height:220px;
	padding: 10px;
	border:#7355d7 8px solid;
//	border:#eaff10 8px solid;
	border-radius:220px;
	background-color: #FFFFFF;
}

h1 {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 70px;
	font-style:bold;
	color: white;
	margin-left:40%;
	padding-top:100px;
	margin-right:40%;
	width:100%;
}

span {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 30px;

}


p {
	font-weight:bold;
}
#canvas {
	position:fixed;
	margin-top: 5%;
}

#menucontainer {
	position:fixed;
	bottom: 0px;
	width: 70%;
	margin-left:15%;
	height: 100px;
}
#menu {
	position:fixed;
	bottom: 10px;
	width: 50%;
	margin-left:6%;
	height: 80px;
	background-color: #e6e6e6;	
	border-radius: 9px;
}

#penimage {
	position:relative;
	margin-left: 12%;
	margin-bottom:10px; 
}

#filterimage {
	position:relative;
}

.color {
	position:relative;
	margin-top:10px;
}

.slider {
	margin-top: 20px;
	margin-left: 50px;
	position:relative;
	width:200px;
}

#wavedistoriton {
	padding-top:100px;

}

#backBtn {
	margin-top: 100px;
}

#playIm {
	margin-top:50px;
	margin-left:15px;
}
