#dragDiv {
	position:relative;
	margin-left:42.5%;
	margin-right:42.5%;
	margin-top:10%;
	width:220px;
	padding: 25px;
	border:black 1px solid;
}

h1 {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 50px;
	margin-left:40%;
	margin-right:40%;
	width:100%;
}

span {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 30px;

}

body {
	font-family: "Helvetica Neue", Arial, sans-serif;
}

p {
	font-weight:bold;
}
#canvas {
	position:fixed;
	margin-left:10%;
	margin-right:10%;
	margin-top: 5%;
}

#menucontainer {
	position:fixed;
	bottom: 0px;
	width: 70%;
	margin-left:15%;
	height: 100px;
}
#menu {
	position:fixed;
	bottom: 10px;
	width: 50%;
	margin-left:6%;
	height: 80px;
	background-color: #e6e6e6;	
	border-radius: 9px;
}

#penimage {
	position:relative;
	margin-left: 12%;
	margin-bottom:10px; 
}

#filterimage {
	position:relative;
}

.color {
	position:relative;
	margin-top:10px;
}

.slider {
	margin-top: 20px;
	margin-left: 50px;
	position:relative;
	width:200px;
}

#wavedistoriton {
	padding-top:100px;

}
